<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Donation Places

        </h3>
    </div>
    <div class="panel-body">

        <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="Filter by name" [(ngModel)]="searchFilter" (ngModelChange)="keyUp$.next($event)">
        </div>

        <div class="form-group col-md-4">
            <pre class="card card-block card-header">Category: {{categoryFilter}}</pre>
            <input [(ngModel)]="categoryFilter" (ngModelChange)="fetchAllIfEmpty($event)" [typeahead]="categories" class="form-control" (typeaheadOnSelect)="fetchConsideringPaging()">
        </div>

        <div class="form-group col-md-4">
            <pre class="card card-block card-header">City: {{cityFilter}}</pre>
            <input [(ngModel)]="cityFilter" (ngModelChange)="fetchAllIfEmpty($event)" [typeahead]="cities" class="form-control" (typeaheadOnSelect)="fetchConsideringPaging()">
        </div>


        <table class="table table-hover">


            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Category</th>
                    <th>City</th>
                    <th>Location Coordinates</th>
                    <th>Private</th>
                    <th class="text-center">Update Place Info</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of places">
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.location.coordinates}}</td>
                    <td *ngIf="item.isPrivate"><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td *ngIf="!item.isPrivate">    </td>
                     <td class="text-center" (click)="onUpdateClick(item)">
                        <a href="javascript:void(0);">
                            <i class="fa fa-edit  text-default"> </i>
                        </a>
                    </td>
                    <td class="text-center" (click)="onDeleteClick(item)">
                        <a href="javascript:void(0);">
                            <i class="fa fa-trash text-danger"> </i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="col-md-12">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="onPageChange($event)"></pagination>
</div>

</div>
