<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rescue</a>
            <p class="navbar-text">Donate the gift of life</p>
        </div>
        <img *ngIf="isConnected()"  class="connectionStatus pull-right" src="assets/images/connected.png" alt="">
        <img *ngIf="!isConnected()" class="connectionStatus pull-right" src="assets/images/not_connected.jpg" alt="">
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

